<template>
  <div class="home">
    <Main v-if='userId != 0' v-on:onloginevent='onLoginEvent' />
    <login v-else v-on:onloginevent='onLoginEvent' />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import {set as setCookie, get as getCookie, remove as removeCookie} from 'es-cookie';
import Main from '@/components/Main.vue'; // @ is an alias to /src
import Login from '@/components/login.vue';

@Component({
  components: {
    Main,
    'login' : Login
  },
})
export default class Home extends Vue {
  private userId: number = 0;

  private mounted() {
    let uid = getCookie('userid');
    if (undefined !== uid) {
      this.userId = Number(uid);
    }
  }

  private onLoginEvent(uid: number) {
    if (uid > 0) {
      setCookie('userid', uid.toString(), { expires: 365 });
    } else {
      removeCookie('userid');
    }
    this.userId = uid;
  }
}
</script>
