<template>
<section>
    <md-card class="main">
      <md-card-header class="header-md-primary">
        <div class="md-title">RPiCam</div>

        <md-button @click="setLoginMode(2)" v-if="mode==1" class="md-fab md-accent" 
          title="Create account">
          <md-icon>person_add</md-icon>
        </md-button>

        <md-button @click="setLoginMode(1)" v-if="mode==2" class="md-fab md-primary"
          title="Use existing account">
          <md-icon class="md-icon-blue">person</md-icon>
        </md-button>

      </md-card-header>

      <md-card-content>
        <md-field md-clearable>
          <md-input v-model="user.login" required placeholder="Username"></md-input>
          <span class="md-error">Login is required</span>
        </md-field>

        <md-field>
          <md-input 
          pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,}$"
          title="Minimum 8 characters, one uppercase letter, one lowercase letter and one number."
          v-model="plainPassword" required placeholder="Password" type="password"></md-input>
          <span class="md-error">Password is required</span>
        </md-field>

        <md-field md-clearable v-if="mode==2">
          <md-input
            pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" 
            title="yourname@example.com"
            v-model="user.email" required placeholder="E-mail" ></md-input>
          <span class="md-error">E-mail is required</span>
        </md-field>

        <vue-recaptcha class="recaptcha"
          v-if="mode==2"
          sitekey="6LeWrUEUAAAAAFgjyCWJ3GVnfheCeScHggy82L5o"
          @verify="onCaptchaVerify"
          @expired="onCaptchaExpired"
          ></vue-recaptcha>
        
        <md-button @click="doRegister()" :disabled='!isComplete' v-if="mode==2" class="md-raised md-primary">Register</md-button>
        <md-button @click="doLogin()" v-if="mode==1" class="md-raised md-primary">Go</md-button>
      </md-card-content>
    </md-card>

    <md-dialog-alert
      :md-active.sync="showDlg"
      :md-content="dialogMessage"
      md-confirm-text="OK" />

    </section>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator'
import {set as setCookie, get as getCookie, remove as removeCookie} from 'es-cookie';
import { Network } from '../classes/network';
import { User } from '../classes/user';
import VueRecaptcha from 'vue-recaptcha';
import { LoginCommand, RegisterCommand } from '@/classes/command';

var sha384 = require('js-sha512').sha384;

@Component({
  components: { VueRecaptcha }
})
export default class Login extends Vue {
    private network = new Network();
    private user: User = new User();
    private plainPassword : string = "";
    private captchaSolved: boolean = false;
    private mode: number = 1;
    private dialogMessage: string = "";
    private showDlg: boolean = false;

    private setLoginMode(_mode: number) {
      this.mode = _mode;
      if (1 == _mode) this.onCaptchaExpired();
    }

    private onCaptchaVerify(recaptchaToken: string) {
      this.captchaSolved = true;
      this.user.token    = recaptchaToken;
    }

    private onCaptchaExpired() {
      this.captchaSolved = false;
      this.user.token    = "";
    }

    private doLogin() {
      this.user.password = sha384(this.plainPassword);
      let command = new LoginCommand (this.user);
      this.network.sendCommand(command).then(
      (result) => {
        let uid = result.body;
        if ('-1' == uid) {
          this.showDialog("Your account is not activated.<br> Check email for additional instructions.");
        } else if('0' == uid) {
          this.showDialog("Login or password is incorrect. Please, try again.");
        } else if ('0' != uid) {
          setCookie('login', this.user.login,    { expires: 365 });
          setCookie('pwd',   this.user.password, { expires: 365 });
          setCookie('token', uid, { expires: 365 });
          this.$emit('onloginevent', uid);
        } 
      },
      (reason) => {
        let message: string = (0 == reason.status ? "No response from server." : reason.statusText);
        this.showDialog("Error: " + message);
      }
      );
    }

    private doRegister() {
      this.user.password = sha384(this.plainPassword);
      let command = new RegisterCommand (this.user);
      this.network.sendCommand(command).then(
      (result) => {
        let uid = Number(result.body);
        if (0 < uid) {
          this.showDialog("Your account has been created, but still not activated.<br>Check email for additional instructions.");
          this.mode = 1;
        } else if(uid == -1) {
          this.showDialog("This email is already registred. Please, use another one");
        } else {
          this.showDialog("Something went wrong. Please, try again.");
        }
      },
      (reason) => {
        let message: string = (0 == reason.status ? "No response from server." : reason.statusText);
        this.showDialog("Error: " + message);
      }
      );
    }

    get isComplete() {
      return /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(this.user.email) &&
      /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,}$/.test(this.plainPassword) &&
      this.captchaSolved;
    }

    private showDialog(message: string) {
      this.dialogMessage = message;
      this.showDlg = true;
    }
}
</script>

<style scoped>
.main {
    width: 350px;
    margin: auto;
    margin-top: 5%;
    overflow: visible;
}

.header-md-primary {
  font-size: 13pt;
  background-color: var(--md-theme-default-primary, #448aff);
  color: white;
}

.md-fab, .mdwhite{
  position: absolute;
  right: 14px;
  top: 9px;
  z-index: 100500;
}

.md-button.md-fab.mybtnstyle,
.md-button.md-theme-default.md-fab:not([disabled]).md-primary {
  background-color: white;
}

.md-button.md-theme-default.md-fab:not([disabled]).md-primary .md-icon-font {
  color: var(--md-theme-default-primary, #448aff);
}

.recaptcha {
  width: fit-content;
  margin: auto;
}

</style>