<template>
  <div class="hello">
    <div class="toolbar">
      <md-button class="md-icon-button md-raised" @click="showSettings = true">
        <md-icon>settings</md-icon>
      </md-button>

      <md-button class="md-icon-button md-raised" @click="doLogout()">
        <md-icon>logout</md-icon>
      </md-button>
    </div>
    <div class="playercnt" v-if="!showSettings">
      <img v-if="!showPlayer" class="logo" src="http://192.168.0.105/logo.jpg"><!-- Develop -->
      <!-- img v-if="!showPlayer" class="logo" src="/logo.jpg"                  !-- Production -->
      <vplayer v-if="showPlayer"
        source="http://192.168.0.105/stream.m3u8"
        picture="http://192.168.0.105/logo.jpg"
      ></vplayer>

      <md-button v-if="!showPlayer" class="md-raised md-primary" @click="startVideo()">Старт</md-button>
      <md-button v-if="showPlayer" class="md-raised md-accent"  @click="stopVideo()">Стоп</md-button>
    </div>
    <settings
      v-if="showSettings"
      v-bind:vsettings="vsettings"
      v-on:save_settings="SaveSettings" />

    <md-dialog
    :md-active.sync='alertActive'>
      <md-dialog-content>{{alertText}}</md-dialog-content>
      <md-dialog-actions>
        <md-button class="md-primary" @click="alertActive = false">OK</md-button>
      </md-dialog-actions>
    </md-dialog>

  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import { Network } from '../classes/network';
import { StartVideoCommand, StopVideoCommand, GetSettingsCommand, UpdateSettingsCommand } from '@/classes/command';
import { VSettings } from '../classes/vsettings';
import Settings from './settings.vue';
import Login from './login.vue';
import player from './player.vue';


@Component(
  {
    components : {
      'vplayer' : player,
      'settings' : Settings,
      'login' : Login,
    }
  }
)
export default class Main extends Vue {
  private vsettings!: VSettings;
  private showSettings: boolean = false;
  private alertText: string = '';
  private alertActive: boolean = false;
  private network = new Network();
  private showPlayer: boolean = false;

  constructor() {
    super();
    this.vsettings = new VSettings();
  }
  
  private startVideo() {
    this.network.sendCommand( new StartVideoCommand() ).then(
      (result) => {
        if ('success' === result.body) {
          this.showPlayer = true;
        } else {
          this.showAlert(result.body);
        }
      });
  }

  private stopVideo() {
    this.network.sendCommand( new StopVideoCommand() ).then(
      (result) => {
        if ('success' === result.body) {
          this.showPlayer = false;
        } else {
          this.showAlert(result.body);
        }
      });
  }

  private showAlert(text: string) {
    this.alertText = text;
    this.alertActive = true;
  }

  private SaveSettings(newSettings: VSettings) {
    if (null != newSettings) {
      this.vsettings = newSettings;
      this.network.sendCommand(new UpdateSettingsCommand(newSettings)).then(
        (result) => {
          if ('success' === result.body) {
            this.showSettings = false;
            if(this.showPlayer) {
              this.stopVideo();
              this.startVideo();
            }
          } else {
            this.showAlert(result.body);
          }
        }
      )
    }
    this.showSettings = false;
  }

  private beforeMount() {
    this.network.sendCommand(new GetSettingsCommand()).then(
      (result) => {
        this.vsettings = result.body;
      }
    )
  }

  private doLogout() {
    this.$emit('onloginevent', 0);
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.toolbar{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 98%;
  margin: 10px;
}

.logo {
  width: 640px;
  height: 360px;
  border: 1px solid black;
}

.playercnt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin: auto;
}
</style>
