<template>
  <d-player :options="options" class="player" ref="mplayer"></d-player>
</template>

<script>
import VueDPlayer from 'vue-dplayer';
import 'vue-dplayer/dist/vue-dplayer.css'
const Hls = require('videojs-contrib-hls');

export default {
  components: {
    'd-player': VueDPlayer
  },
  props: {
    source: String,
    picture: String,
  },
  data: function() {
    return {
      options: {
        lang: 'ru-ru',
        video: {
          url: this.source,
          pic: this.picture,
          type: 'hls',
          },
          autoplay: true},
      player: null,
    };
  },
  // mounted() {},
  // beforeDestroy: function() {},
};
</script>

<style>
.player {
    width: 640px;
    height: 360px;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
}
</style>