<template>
<section>
    <md-card class="card">
      <md-card-content>
      <md-tabs class="tabs">
      <md-tab id="tab-video" md-label="Video" class = "tab-video">
        <md-subheader>Quality</md-subheader>
          <div class="control"><span class="span1">Resolution</span><input class="range" type="range" @change="onResolutionChange()" v-model="resolution" step="1" min="0" max="5"> <span class="span2">{{ vsettings.width }} x {{ vsettings.height }}</span></div>
          <div class="control"><span class="span1">Framerate </span><input class="range" type="range" v-model="vsettings.framerate"  step="5" min="5" max="60"> <span class="span2">{{ vsettings.framerate }} fps</span></div>
          <div class="control"><span class="span1">Bitrate   </span><input class="range" type="range" v-model="vsettings.bitrate"    step="5000" min="50000" max="8000000"> <span class="span2">{{ vsettings.bitrate / 1000 }} kBit/s</span></div>
        <md-subheader>Transform</md-subheader>
          <div class="control"><span class="span1">Rotation  </span><input class="range" type="range" v-model="vsettings.rotation"   step="90"   min="0"     max="270"> <span class="span2">{{ vsettings.rotation }} deg</span></div>
          <div class="control"><span class="span1">Horisontal flip</span><md-switch v-model="vsettings.hflip"/></div>
          <div class="control"><span class="span1">Vertical flip</span><md-switch v-model="vsettings.vflip"/></div>
        <md-subheader>Encoding</md-subheader>
          <div class="control"><span class="span1">h264 profile</span><input class="range" type="range" @change="onProfileChange()" v-model="profile" step="1" min="0" max="2"> <span class="span2">{{ vsettings.profile }}</span></div>
          <div class="control"><span class="span1">h264 level  </span><input class="range" type="range" @change="onLevelChange()" v-model="level"   step="1" min="0" max="2"> <span class="span2">{{ vsettings.level }}</span></div>
        <md-subheader>HLS stream settings</md-subheader>
          <div class="control"><span class="span1">Hls time </span><input class="range" type="range" v-model="vsettings.hls_time"  step="2" min="2" max="20"> <span class="span2">{{ vsettings.hls_time }} sec</span></div>
          <div class="control"><span class="span1">Hls list size </span><input class="range" type="range" v-model="vsettings.hls_list_size"  step="5" min="5" max="150"> <span class="span2">{{ vsettings.hls_list_size }}</span></div>
          <div class="control"><span class="span1">Hls wrap      </span><input class="range" type="range" v-model="vsettings.hls_wrap"  step="1" min="5" max="20"> <span class="span2">{{ vsettings.hls_wrap }}</span></div>
      </md-tab>

      <md-tab id="tab-account" md-label="Account" class = "tab-account">
        <usereditor></usereditor>
      </md-tab>

      <md-tab id="tab-users" md-label="Users" class = "tab-users">
        <userlist></userlist> 
      </md-tab>

      <md-tab id="tab-network" md-label="Network" class = "tab-network">
        Raspberry Pi<br>network settings
      </md-tab>

    </md-tabs>
      </md-card-content>

      <md-card-actions>
        <md-button class="md-raised" v-on:click="Cancel()">Cancel</md-button>
        <md-button class="md-raised md-primary" v-on:click="SaveSettings()">OK</md-button>
      </md-card-actions>
    </md-card>
</section>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import { VSettings } from '../classes/vsettings';
import Userlist from './userlist.vue';
import UserEditor from './usereditor.vue';

@Component({
  components : {
      'userlist' : Userlist,
      'usereditor' : UserEditor,
  }
})
export default class Settings extends Vue {
  @Prop() public vsettings!: VSettings;

  private resArrayW = Array(640, 640, 800, 1024, 1280, 1920);
  private resArrayH = Array(360, 480, 600, 768, 720, 1080);
  private profileArray = Array('baseline', 'main', 'high');
  private levelArray = Array('4', '4.1', '4.2');
  private resolution: number = 0;
  private profile   : number = 0;
  private level     : number = 0;

  private onResolutionChange() {
    this.vsettings.width  = this.resArrayW[this.resolution];
    this.vsettings.height = this.resArrayH[this.resolution];
  }

  private onProfileChange() {
    this.vsettings.profile = this.profileArray[this.profile];
  }

  private onLevelChange() {
    this.vsettings.level = this.levelArray[this.level];
  }

  private SaveSettings() {
    this.vsettings.bitrate = Number(this.vsettings.bitrate);
    this.vsettings.framerate = Number(this.vsettings.framerate);
    this.vsettings.rotation = Number(this.vsettings.rotation);
    this.vsettings.hls_time = Number(this.vsettings.hls_time);
    this.vsettings.hls_list_size = Number(this.vsettings.hls_list_size);
    this.vsettings.hls_wrap = Number(this.vsettings.hls_wrap);
    this.$emit('save_settings', this.vsettings);
  }

  private Cancel() {
    this.$emit('save_settings', null);
  }
}
</script>

<style scoped>
.card {
   width: fit-content;
    margin: auto;
}

md-tab {
    width: fit-content;
    -webkit-box-flex: 1;
    flex: 1 0 100%;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 100%;
    padding: 16px;
}

.tab-users,
.tab-account, 
.tab-users,
.tab-network  {
  width: 0px;
}

.control {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.range {
  flex-grow: 120;
  max-width: 225px;
}

.span1, .span2 {
  margin-left: 5px;
  margin-right: 5px;
  width: 110px;
  text-align: left;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  font-size: 12pt;
}

.span2 {
  width: fit-content;
}

.md-switch {
    width: auto;
    margin: 2px 16px 2px 0;
}

.md-subheader {
  font-size: 13pt;
}
</style>