<template>
<section>
        <md-field md-clearable>
          <md-input v-model="user.login" required placeholder="Username" @blur="doSave()"></md-input>
          <span class="md-error">Login is required</span>
        </md-field>

        <md-field>
          <md-input 
          pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,}$"
          title="Minimum 8 characters, one uppercase letter, one lowercase letter and one number."
          v-model="plainPassword" required placeholder="Password" type="password" @blur="doSave()"></md-input>
          <span class="md-error">Password is required</span>
        </md-field>

        <md-field md-clearable>
          <md-input
            pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" 
            title="yourname@example.com"
            v-model="user.email" required placeholder="E-mail" @blur="doSave()"></md-input>
          <span class="md-error">E-mail is required</span>
        </md-field>

    <md-dialog-alert
      :md-active.sync="showDlg"
      :md-content="dialogMessage"
      md-confirm-text="OK" />

    </section>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator'
import { set as setCookie, get as getCookie, remove as removeCookie } from 'es-cookie';
import { Network } from '../classes/network';
import { User } from '../classes/user';
import { GetUserDataCommand, UpdateUserDataCommand } from '@/classes/command';

var sha384 = require('js-sha512').sha384;

@Component({
  components: {}
})
export default class UserEditor extends Vue {
    private network = new Network();
    private user: User = new User();
    private plainPassword : string = "";
    private dialogMessage: string = "";
    private showDlg: boolean = false;

    private beforeMount() {
      var token: any = getCookie('token');
      if (undefined != token) {
        this.network.sendCommand(new GetUserDataCommand(token)).then(
        (result) => {
            this.user = result.body;
        }
      )
      }
    }

    private doSave() {
      this.user.password = sha384(this.plainPassword);
      let command = new UpdateUserDataCommand (this.user);
      this.network.sendCommand(command).then(
      (result) => {
        let rezlt = Number(result.body);
        if (1 != rezlt) {
          this.showDialog("Error saving settings.");
        }
      },
      (reason) => {
        let message: string = (0 == reason.status ? "No response from server." : reason.statusText);
        this.showDialog("Error: " + message);
      }
      );
    }

    private doCancel() {}

    get isComplete() {
      return /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(this.user.email) &&
      /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,}$/.test(this.plainPassword) 
    }

    private showDialog(message: string) {
      this.dialogMessage = message;
      this.showDlg = true;
    }
}
</script>

<style scoped>
.main {
    width: 350px;
    margin: auto;
    margin-top: 5%;
    overflow: visible;
}

.header-md-primary {
  font-size: 13pt;
  background-color: var(--md-theme-default-primary, #448aff);
  color: white;
}

.md-fab, .mdwhite{
  position: absolute;
  right: 14px;
  top: 9px;
  z-index: 100500;
}

.md-button.md-fab.mybtnstyle,
.md-button.md-theme-default.md-fab:not([disabled]).md-primary {
  background-color: white;
}

.md-button.md-theme-default.md-fab:not([disabled]).md-primary .md-icon-font {
  color: var(--md-theme-default-primary, #448aff);
}

.recaptcha {
  width: fit-content;
  margin: auto;
}

</style>