<template>
    <section>
      <md-table v-model="users" md-sort="name" md-sort-order="asc" md-card>

      <md-table-row slot="md-table-row" slot-scope="{ item }" @click="onUserClick(item)" md-selectable="single">
        <md-table-cell md-label="Name" md-sort-by="login">{{ item.login }}</md-table-cell>
        <md-table-cell md-label="Email" md-sort-by="email">{{ item.email }}</md-table-cell>
        <md-table-cell md-label="Active" md-sort-by="active">{{ item.active == 1 ? "Yes" : "No" }}</md-table-cell>
        <md-table-cell md-label="Admin"  md-sort-by="admin">{{ item.level == 1 ? "Yes" : "No" }}</md-table-cell>
      </md-table-row>
    </md-table>

    <md-dialog :md-active.sync="showEditor">
      <section>
      <div class="userbox">
        <md-field>
          <md-input readonly v-model="currentUser.login"></md-input>
        </md-field>

        <md-field>
          <md-input readonly v-model="currentUser.email"></md-input>
        </md-field>

        <md-switch v-model="user_active">Active</md-switch>
        <md-switch v-model="user_admin">Admin</md-switch>
        <md-button class="md-raised" @click="prepareDelete()">Delete</md-button>
      </div>
    </section>
      <md-dialog-actions>
        <md-button class="md-raised" @click="showEditor = false">Cancel</md-button>
        <md-button class="md-raised md-primary" @click="saveUser()">Save</md-button>
      </md-dialog-actions>
    </md-dialog>

    <md-dialog
    :md-active.sync='alertActive'>
      <md-dialog-content>{{alertText}}</md-dialog-content>
      <md-dialog-actions>
        <md-button class="md-primary" @click="alertActive = false">OK</md-button>
      </md-dialog-actions>
    </md-dialog>

    <md-dialog :md-active.sync="showDeleteDialog">
      <section>
      <div class="userbox">
        Are you sure you want to delete<br>
        user {{currentUser.login}}?
      </div>
    </section>
      <md-dialog-actions>
        <md-button class="md-raised" @click="doNotDelete()">No</md-button>
        <md-button class="md-raised md-primary" @click="deleteUser()">Yes</md-button>
      </md-dialog-actions>
    </md-dialog>

    <md-dialog
    :md-active.sync='alertActive'>
      <md-dialog-content>{{alertText}}</md-dialog-content>
      <md-dialog-actions>
        <md-button class="md-primary" @click="alertActive = false">OK</md-button>
      </md-dialog-actions>
    </md-dialog>

    </section>
</template>

<script lang="ts">

import { Component, Prop, Vue } from 'vue-property-decorator';
import { Network } from '../classes/network';
import { User } from '../classes/user';
import { GetUsersCommand, GetUserDataCommand, UpdateUserDataCommand, DeleteUserCommand } from '@/classes/command';

@Component({
  components: {}
})
export default class Userlist extends Vue {
  private network = new Network();
  private users = new Array<User>();
  private currentUser: User = new User();
  private user_active: boolean = false;
  private user_admin : boolean = false;
  private showEditor: boolean = false;
  private showDeleteDialog: boolean = false;

  private alertText: string = '';
  private alertActive: boolean = false;

  private beforeMount() {
    this.network.sendCommand(new GetUsersCommand()).then(
      (result) => {
          this.users = result.body;
          this.currentUser = this.users[0];
      }
    )
  }

  private onUserClick(user: User) {
    this.showEditor = false;
    this.currentUser = user;
    this.user_admin = (1 == this.currentUser.level);
    this.user_active = (1 == this.currentUser.active);
    this.showEditor = true;
  }

  private saveUser() {
    this.currentUser.level = (this.user_admin ? 1 : 0);
    this.currentUser.active = (this.user_active ? 1 : 0);
    this.network.sendCommand(new UpdateUserDataCommand(this.currentUser)).then(
      (result) => {
          if('1' != result.body) {
            this.showAlert('Server side error: ' + result.body);
          }
        this.showEditor = false;
      }
    )
  }

  private deleteUser() {
    this.network.sendCommand(new DeleteUserCommand(this.currentUser.token)).then(
      (result) => {
          if('1' != result.body) {
            this.showAlert('Server side error: ' + result.body);
          } else {
            this.users.splice(this.users.indexOf(this.currentUser), 1 );
            this.currentUser = this.users[0];
          }
        this.showDeleteDialog = false;
      }
    )
  }

  private prepareDelete() {
    this.showEditor = false;
    this.showDeleteDialog = true;
  }

  private doNotDelete() {
    this.showDeleteDialog = false;
    this.showEditor = true;
  }

  private showAlert(text: string) {
    this.alertText = text;
    this.alertActive = true;
  }
}

</script>

<style scoped>
md-tab {
    -webkit-box-flex: 1;
    flex: 1 0 100%;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 100%;
    padding: 16px;
}

tbody .md-table-row td {
    text-align: left;
}

.md-table table,
table,
.md-table {
  width: fit-content;
  margin: auto;
}

.userbox {
  padding: 20px;
  display: flex;
  flex-direction: column;
}
</style>